@model MusicRaterWebApp.ViewModels.AlbumRankerViewModel
@{
    ViewBag.Title = "AlbumRanker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rank</h2>
<h4>
    Here are two albums that you should know. Chose the one you prefer.
</h4>
<body>
    <div id="albums">
        <div id="album1">
            @if (Model.album1path == "")
            {
                <img src="~/Images/noImage.png" style="height:300px;width:300px;" />
            }
            else
            {
                <img src=@Model.album1path style="height:300px;width:300px;" />
            }

            <br />
            <p id="album1Data">@Model.album1.albumName - @Model.album1.bandName

            <p>
                <button data-album-id="@Model.albumRank1.id" data-expected="@Model.album1Expected" class="btn btn-default js-win" data-userId="@Model.userId">Choose Me!</button>
                <button data-album-id="@Model.albumRank1.id" data-userId="@Model.userId" class="btn btn-default js-dontknow">Dont Know This Album</button>
            </p>

        </div>
        <div id="album2">
            @if (Model.album2path == "")
            {
            <img src="~/Images/noImage.png" style="height:300px;width:300px;"/>
            }
            else
            {
                <img src=@Model.album2path style="height:300px;width:300px;"/>
            }
            <br />
            <p id="album2Data">@Model.album2.albumName - @Model.album2.bandName</p>
            <p>
                <button data-album-id="@Model.albumRank2.id" data-expected="@Model.album2Expected" data-userId="@Model.userId" class="btn btn-default js-win">Choose Me!</button>
                <button data-album-id="@Model.albumRank2.id" data-userId="@Model.userId" class="btn btn-default js-dontknow">Dont Know This Album</button>
            </p>
        </div>
    </div>
</body>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#albums .js-win").on("click", function () {
                var button = $(this);
                if (button.closest("div").prop("id") === "album1") {
                    var otherButton = $('#album2 .js-win');
                } else {
                    var otherButton = $('#album1 .js-win');
                };
                $.ajax({
                    url: "/api/useralbumranks/" + "?winnerId=" + button.attr("data-album-id") + "&loserId=" + otherButton.attr("data-album-id") + "&winnerExpected=" + button.attr("data-expected") + "&loserExpected=" + otherButton.attr("data-expected") + "&userId=" + button.attr("data-userId"),
                    method: "PUT",
                    success: function () {
                        $.ajax({
                            url: "/api/useralbumranks/getTwoNew/",
                            method: "GET",
                            success: function (response) {
                                updateData(1, response);
                                updateData(2, response);
                            }
                        });
                    }
                });
            });

            $("#albums .js-dontknow").on("click", function () {
                var button = $(this);
                console.log(button.attr("data-user-id"));
                $.ajax({
                    url: "/api/useralbumranks/haveheard/?id=" + button.attr("data-album-id") + "&know=false" + "&userId=" + button.attr("data-userId"),
                    method: "PUT",
                    success: function () {
                        $.ajax({
                            url: "/api/useralbumranks/getTwoNew/",
                            method: "GET",
                            success: function (response) {
                                updateData(1, response);
                                updateData(2, response);
                            }
                        });
                    }
                });
            });
            //TODO: clean below
            function updateData(albumNumber, responseObject) {
                var mainAlbum = 'album' + albumNumber;
                var rank = 'albumRank' + albumNumber;
                var toTarget = '#album' + albumNumber + "Data";
                var toWin = '#album' + albumNumber + " .js-win";
                var dontKnow = '#album' + albumNumber + " .js-dontknow";
                $(toTarget).text(responseObject[mainAlbum].albumName + " - " + responseObject[mainAlbum].bandName);
                $(dontKnow).attr("data-album-id", responseObject[rank]['id']);
                $(toWin).attr("data-album-id", responseObject[rank]['id']);
                $(toWin).attr("data-expected", responseObject[mainAlbum + 'Expected']);
            }
        });
    </script>
}
