@model MusicRaterWebApp.ViewModels.AlbumRankerViewModel
@{
    ViewBag.Title = "AlbumRanker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AlbumRanker</h2>
<body>
    <div id="albums">
        <div id="album1">
            @Model.album1.albumName
            <p><button data-album-id="@Model.album1.albumId" data-expected="@Model.album1Expected" class="btn btn-default js-win">Choose Me!</button></p>
        </div>

        <div id="album2">
            @Model.album2.albumName
            <p><button data-album-id="@Model.album2.albumId" data-expected="@Model.album2Expected" class="btn btn-default js-win">Choose Me!</button></p>
        </div>
    </div>
</body>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#albums .js-win").on("click", function () {
                var button = $(this);
                $.ajax({
                    url: "/api/useralbumranks/" + "?id=" + button.attr("data-album-id") + "&expected=" + button.attr("data-expected") + "&result=1", 
                    method: "PUT",
                    success: function () {
                        console.log("success");
                    }
                });
            });
        });

    </script>    
}
