@model MusicRaterWebApp.ViewModels.AlbumFormViewModel
@{
    /**/
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (@Model.album !=null)
{
    if(Model.album.albumId != 0)
    {
        <h2>Edit an Album</h2>
        ViewBag.Title = "Edit";
    }
    else
    {
        <h2>Add a New Album</h2>
        ViewBag.Title = "Add";
    }
}
else
{
    <h2>Add a New Album</h2>
    ViewBag.Title = "Add";
}

@using (Html.BeginForm("Save", "Album"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.album.albumName, "Album Name")
        @Html.TextBoxFor(m => m.album.albumName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.album.albumName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.album.bandName, "Band Name")
        @Html.TextBoxFor(m => m.album.bandName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.album.bandName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.album.year, "Release Year")
        @Html.TextBoxFor(m => m.album.year, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.genreChosen, "Genres")
        @Html.DropDownListFor(m => m.genreChosen, new SelectList(Model.genres, "ID", "Genre"), "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.HiddenFor(m => m.album.albumId)
        @Html.AntiForgeryToken()
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")    
}