@model MusicRaterWebApp.ViewModels.AlbumDescriptionViewModel
@{
    ViewBag.Title = "Album Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.album.bandName - @Model.album.albumName</h2>
<hr />
<img src="~/Images/noImage.png"/>
<div id="spotifyPlayer">
    @if (Model.spotifyURI != "")
    {
        <iframe src=@Model.spotifyURI width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <br />
        <button data-album-id="@Model.album.albumId" class="btn btn-default js-addSpotify">Edit Spotify</button>
    }
    else
    {
        <button data-album-id="@Model.album.albumId" class="btn btn-default js-addSpotify">Add Spotify</button>
    }
    @if (Model.know)
    {
        <button data-userRank-id="@Model.albumRankId" data-know="@(!Model.know)" class="btn btn-default js-know">Don't Know This Album</button>
    }
    else
    {
        <button data-userRank-id="@Model.albumRankId" data-know="@(!Model.know)" class="btn btn-default js-know">I Know This Album</button>
    }
</div>
<br />
<body>
    <div id="album-info">
        <table id="albums" class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td>
                        Album
                    </td>
                    <td style="width: 500px;">
                        @Model.album.albumName
                    </td>
                </tr>
                <tr>
                    <td>
                        Artist
                    </td>
                    <td style="width: 500px;">
                        @Model.album.bandName
                    </td>
                </tr>
                <tr>
                    <td>
                        Year
                    </td>
                    <td style="width: 500px;">
                        @Model.album.year
                    </td>
                </tr>
                <tr>
                    <td>
                        Genres
                    </td>
                    <td style="width: 500px;">
                        @if (Model.genres.Count > 0)
                        {
                            @Model.genres[0].genre
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <p><a class="btn btn-default" href="/Album/Edit/@Model.album.albumId">Edit</a></p>
    </div>


</body>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#spotifyPlayer .js-addSpotify").on("click", function () {
                var spotifyUri = prompt("Please enter Spotify URI");

                if (spotifyUri != null) {
                    $.ajax({
                        url: "/api/albums" + "?id=" + $(this).attr("data-album-id") + "&uri=" + spotifyUri,
                        method: "PUT",
                        success: function () {
                            //replace with wasn't working right so we will reload since this will not happen often
                            window.location.reload();
                        }
                    });
                }
            });
            $("#spotifyPlayer .js-know").on("click", function () {
                var knowButton = $(this)
                $.ajax({
                    url: "/api/useralbumranks/haveheard/?id=" + $(this).attr("data-userRank-id") + "&know=" + $(this).attr("data-know"),
                    method: "PUT",
                    success: function () {
                        if (knowButton.text() === "I Know This Album") {
                            knowButton.attr('data-know', 'False');
                            knowButton.text("Don't Know This Album");
                        } else {
                            knowButton.attr('data-know', 'True');
                            knowButton.text("I Know This Album");
                        };
                    }
                });
            });
        });

    </script>
}