@model MusicRaterWebApp.ViewModels.AlbumDescriptionViewModel
@{
    ViewBag.Title = "GetAlbum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.album.bandName - @Model.album.albumName</h2>
<hr />
<img src="~/Images/grimes-visions.jpg" />
<div id="spotifyPlayer">
    @if (Model.spotifyURI != "")
    {
        <iframe src=@Model.spotifyURI width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    }
</div>
<br />
<body>
    <div id="album-info">
        <table id="albums" class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td>
                        Album
                    </td>
                    <td style="width: 500px;">
                        @Model.album.albumName
                    </td>
                    </tr>
                    <tr>
                        <td>
                            Artist
                        </td>
                        <td style="width: 500px;">
                            @Model.album.bandName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Year
                        </td>
                        <td style="width: 500px;">
                            @Model.album.year
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Genres
                        </td>
                        <td style="width: 500px;">
                            @if (Model.genres.Count > 0)
    {
                        @Model.genres[0].genre
}
                        </td>
                    </tr>
                </tbody>
            </table>
        <p><a class="btn btn-default" href="/Album/Edit/@Model.album.albumId">Edit</a></p>
    </div>


</body>

