@model MusicRaterWebApp.ViewModels.SearchResultsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Albums</h2>
<body>
    <div>
        <h4>Albums Added Most Recently</h4>
        <table id="albums" class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>Album</th>
                    <th>Artist</th>
                    <th>Year</th>
                </tr>
                @foreach (var album in Model.toShow)
                {
                <tr>
                    <td>
                        @Html.ActionLink(@album.albumName, "GetAlbum/" + @album.albumId, "Album")
                    </td>
                    <td>
                        @Html.Label(@album.bandName)
                    </td>
                    <td>
                        @Html.Label(@album.year.ToString())
                    </td>
                </tr>

                  }
            </tbody>
        </table>
    </div>
    <div>
        <input type="button" class="btn btn-primary" value="Search" onclick="window.location.href='@Url.Action("SearchForm", "Album")'" ) />
        @if (this.User.IsInRole("Administrator"))
        {
            <input type="button" class="btn btn-primary" value="Add New" onclick="window.location.href='@Url.Action("AlbumForm", "Album")'" ) />
        }
    </div>
</body>
