@model MusicRaterWebApp.ViewModels.AlbumFormViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

@using (Html.BeginForm("SearchResults", "Album"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.album.albumName, "Album Name")
        @Html.TextBoxFor(m => m.album.albumName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.album.bandName, "Band Name")
        @Html.TextBoxFor(m => m.album.bandName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.album.year, "Release Year")
        @Html.TextBoxFor(m => m.album.year, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.genreChosen, "Genres")
        @Html.DropDownListFor(m => m.genreChosen, new SelectList(Model.genres, "Id", "Genre"), "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.HiddenFor(m => m.album.albumId)
        @Html.AntiForgeryToken()
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
}

