@model MusicRaterWebApp.ViewModels.UserProfileViewModel
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@(Model.username + "'s Profile")<br /></h3>

<body>
    <div id="userProfileInfo">
        <img src="~/Images/noImage.png"/>
    </div>

    <div id="profileAlbumList">
        <h4>My Favorite Albums</h4>
        <table id="albums" class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td>
                        Rank
                    </td>
                    <td>
                        Album
                    </td>
                </tr>
                @foreach (var album in Model.favoriteAlbum)
                {
                    <tr>
                        <td>
                            @(Model.favoriteAlbum.IndexOf(album) + 1)
                        </td>
                        <td>
                            @Html.ActionLink(@album.albumName, "GetAlbum/" + @album.albumId, "Album")
                        </td>
                        <td>
                            <img src="~/Images/noImage.png" style="height:50px;width:50px;"/>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="userReviews">
        <h4>Reviews</h4>
        @foreach (var review in Model.userReviews)
        {
        <div id="albumReview">
            <h5>@review.Key.albumName</h5>
            <p>
                @review.Value
            </p>
        </div>
        }
    </div>
</body>